<html style="width: 100%; height: 100%; margin: 0; padding: 0;"><head>
        <title>Lehigh Makeathon</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Lato:700|Raleway:400,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>@media print {#ghostery-purple-box {display:none !important}}</style><style>@media print {#ghostery-purple-box {display:none !important}}</style></head>
    <body style="margin: 0; padding: 0; height: 100%; width: 100%;">

        <div id="header1" style="height: 100%; width: 100%;">
            <div id="inheader1" style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
                <div style="width: auto;max-width: 85%;">
                    <div style="padding: 20px 0px; border-bottom: 2px solid #fff;">
                        <img src="images/wordmark.png" style="width: 100%; max-width: 400px; display: block;">
                    </div>
                    <p style="color: #fff;"><span style="font-weight: 600; font-size: 1.8rem">Make</span> something for the Lehigh Community.</p>
                    <p style="color: #fff;"><span style="font-weight: 600; font-size: 1.8rem">Make</span> a difference in the lives of other students.</p>
                    <p style="color: #fff;"><span style="font-weight: 600; font-size: 1.8rem">Make</span> something you'll be proud of.</p>
                    <div style="margin: 40px 0px; display: flex;">
                        <a href="#header2" style="padding: 15px; border: solid #fff 2px; border-radius: 10px; color: #fff;text-decoration: none; font-family: 'Raleway', sans-serif; margin-right: 10px;">Learn More</a>
                        <a style="padding: 15px; border: solid #fff 2px; border-radius: 10px; color: #fff; text-decoration: none;font-family: 'Raleway', sans-serif;" href="https://docs.google.com/forms/d/e/1FAIpQLSfvI86VtJ3skm3m32g7z7h_UYnacFkuwEFm4vaaoqKb7SvhPQ/viewform" target="_blank">Register A Team</a>
                    </div>
                </div>
                <i onclick="window.location.href = '#header2';" id="chevron" class="material-icons" style="color: #fff;font-size: 3rem;position: absolute;bottom: 30px;">details</i>
            </div>
        </div>
        <style>
        h1 {
            font-family: 'Lato', sans-serif;
            font-size: 3rem
        }

        h2 {
            font-family: 'Lato', sans-serif;
            font-size: 2.7rem
        }

        h3 {
            font-family: 'Lato', sans-serif;
        }

        p {
            font-family: 'Raleway', sans-serif;
            font-size: 1.5rem
        }

        #header1 {
            background-image: linear-gradient(to bottom, #59d 0%, #2673bf 100%);
        }

        #inheader1 {
            background-image: linear-gradient(0deg, transparent 0%, transparent 9px, rgba(255, 255, 255, 0.2) 9px, rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 19px, rgba(255, 255, 255, 0.1) 19px, rgba(255, 255, 255, 0.1) 20px, transparent 20px, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 39px, rgba(255, 255, 255, 0.1) 39px, rgba(255, 255, 255, 0.1) 40px, transparent 40px, transparent 49px, rgba(255, 255, 255, 0.1) 49px, rgba(255, 255, 255, 0.1) 50px), linear-gradient(-90deg, transparent 0%, transparent 9px, rgba(255, 255, 255, 0.2) 9px, rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 19px, rgba(255, 255, 255, 0.1) 19px, rgba(255, 255, 255, 0.1) 20px, transparent 20px, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 39px, rgba(255, 255, 255, 0.1) 39px, rgba(255, 255, 255, 0.1) 40px, transparent 40px, transparent 49px, rgba(255, 255, 255, 0.1) 49px, rgba(255, 255, 255, 0.1) 50px);
            background-size: 50px 50px;
        }

        #header2 {
            background-image: #fff;
        }

        #inheader2 {
            background-image: linear-gradient(0deg, transparent 0%, transparent 9px, rgba(85, 153, 221, 0.2) 9px, rgba(85, 153, 221, 0.2) 10px, transparent 10px, transparent 19px, rgba(85, 153, 221, 0.1) 19px, rgba(85, 153, 221, 0.1) 20px, transparent 20px, transparent 29px, rgba(85, 153, 221, 0.1) 29px, rgba(85, 153, 221, 0.1) 30px, transparent 30px, transparent 39px, rgba(85, 153, 221, 0.1) 39px, rgba(85, 153, 221, 0.1) 40px, transparent 40px, transparent 49px, rgba(85, 153, 221, 0.1) 49px, rgba(85, 153, 221, 0.1) 50px), linear-gradient(-90deg, transparent 0%, transparent 9px, rgba(85, 153, 221, 0.2) 9px, rgba(85, 153, 221, 0.2) 10px, transparent 10px, transparent 19px, rgba(85, 153, 221, 0.1) 19px, rgba(85, 153, 221, 0.1) 20px, transparent 20px, transparent 29px, rgba(85, 153, 221, 0.1) 29px, rgba(85, 153, 221, 0.1) 30px, transparent 30px, transparent 39px, rgba(85, 153, 221, 0.1) 39px, rgba(85, 153, 221, 0.1) 40px, transparent 40px, transparent 49px, rgba(85, 153, 221, 0.1) 49px, rgba(85, 153, 221, 0.1) 50px);
            background-size: 50px 50px;
        }

        @media only screen and (max-width: 350px) {
            #chevron {
                display: none;
            }
        }

        table, td {
            border: solid 2px #fff;
            border-collapse: collapse;
            padding: 15px;
            font-family: 'Raleway', sans-serif;
            font-size: 1rem;
            background-color: #2673bf;
            border-radius: 5px;
            color: #fff;
        }

        #spon p {
            margin: 20px;
        }
        
        </style>
        <div id="header2">
                <div id="inheader2">
                    <div style="width: 80%;max-width: 700px;display: block;margin: 0px auto;padding: 80px 0px;">
                        <h2>What is Make-A-Thon?</h2>
                        <p>Inspired by the traditional Hackathon, LU Makeathon is a 24-hour long competition where teams and individuals are challenged to create physical solutions to problems relating to a certain theme. The best ideas and execution will earn prizes at the end of the competition. You don’t have to be a programmer or an engineer to win Makeathon. Regardless of your background, anyone can make a difference, and that is the mission of LU Makeathon.</p>
        
                        <h2>What is this year’s theme?</h2>
                        <h3>“Improving Life at Lehigh and the Surrounding Community”</h3>
                        <p>This year’s theme gives students the opportunity to identify problems and strive for a sustainable impact at Lehigh and our community. Often times, students turn a blind eye to issues thinking that they do not have the power to make a change. This theme allows students to collaborate as a team and challenge themselves to make changes they were not able to in the past.</p>
                        <p>Upon selecting a theme, the Make-A-Thon committee wanted the event to not only make a difference within the Lehigh campus, but also our Bethlehem community. While Lehigh is our home, it is not the only place having issues. Many places outside Lehigh need students to brainstorm and come up with solutions to problems that are waiting to be solved.</p>
                        <p>Incorporating the “surrounding community” to the theme also gives students the opportunity to give back to the community that has been supporting them through their journey at Lehigh. While this may seem like a very open ended theme, it is difficult because students are challenged to make sustainable impacts.</p>
        
                        <h2>Timeline</h2>
                        <h3>Subject To Change</h3>
                        <div style="overflow-x: scroll;">
                                <table style="width: 100%; border-collapse: collapse;  border: solid 10px #2673bf;">
                                        <tbody>
                                            <tr>
                                                <td>Registration ends</td>
                                                <td>October 1, 2018</td>
                                                <td>Midnight</td>
                                            </tr>
                                            <tr>
                                                <td>Workshop 1 : Design Thinking</td>
                                                <td>October 5, 2018</td>
                                                <td>4:30 - 6 PM</td>
                                            </tr>
                                            <tr>
                                                <td>Workshop 2 : Tooling and Prototyping</td>
                                                <td>October 11, 2018</td>
                                                <td>4:30 - 6 PM</td>
                                            </tr>
                                            <tr>
                                                <td>LU Make-A-Thon Weekend</td>
                                                <td>October 19-20, 2018</td>
                                                <td>5PM - 5PM</td>
                                            </tr>
                                        </tbody>
                                    </table>
                        </div>
        
                        <h2>Affiliated Groups and Sponsors</h2>
                        <div id="spon" style="display: flex; flex-wrap: wrap; border-left: solid 2px #2673bf;">
                            <p>Lehigh Baker's Institute</p>
                            <p>Sigma Phi Delta</p>
                            <p>Alpha Omega Epsilon</p>
                            <p>LU MakerSpace</p>
                            <p>Tau Beta Pi</p>
                            <p>CREATE Club</p>
                            <p>Engineering Without Borders</p>
                            <p>Design Lab</p>
                            <p>Wilbur Powerhouse</p>
                        </div>
                        
        
                        <h2>Got any questions?</h2>
                        <a href="mailto:lumakeathon@gmail.com?subject=Makeathon" style="padding: 15px; border: solid #2673bf 2px; border-radius: 10px; color: #2673bf; text-decoration: none;font-family: 'Raleway', sans-serif;">Send Us An Email</a>
                    </div>
                </div>
            </div>
    </body>
</html>