<!DOCTYPE html>
<html>
    <head>
        <title>Sigma Phi Delta - Beta Kappa</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/landing.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script> 
        
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cc0000">
        <meta name="apple-mobile-web-app-title" content="&Sigma;&Phi;&Delta;">
        <meta name="application-name" content="&Sigma;&Phi;&Delta;">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="theme-color" content="#000000">
    </head>
    
    <body onload="genEvents(); genResources()">
            <div class="container">
                    <% if(error && error.length > 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                    <% if(success && success.length > 0){ %>
                        <div class="alert alert-success" role="alert">
                            <%= success %>
                        </div>
                    <% } %>
                </div>

            <!-- Wrapper -->
                <div id="wrapper">
    
                    <!-- Main -->
                        <div id="main">
                            <div class="inner">
    
                                <!-- Header -->
                                    <header id="header">
                                        <a href="#" class="logo"><strong>Sigma Phi Delta</strong> | Beta Kappa</a>
                                        <ul class="icons">
                                            <!--
                                            <li><a href="https://twitter.com/SigmaPhiDelta" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                            <li><a href="https://www.facebook.com/SigmaPhiDeltaLehigh/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                            -->
                                            <li><a href="https://www.instagram.com/lehighspd/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                        </ul>
                                    </header>
    
                                <!-- Banner -->
                                <section id="banner" style="display: flex;">
                                    <div class="content" style="flex: 1; display: flex; align-items: center;">
                                        <div>
                                            <header>
                                                <h1>Sigma Phi Delta</h1>
                                                <p>Beta Kappa Chapter</p>
                                            </header>
                                            <p>The Lehigh University Beta Kappa chapter of Sigma Phi Delta is a home for engineers at Lehigh. Sigma Phi Delta is the premier international fraternity of engineers.</p>
                                            <ul class="actions">
                                                <li style="width: auto;"><a href="/login" class="button big">Sign In</a></li>
                                                <li style="width: auto;"><a href="/info" class="button big">Learn More</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="image object" style="flex: 1;">
                                        <img src="images/main.jpg" alt="">
                                    </span>
                                </section>

                            </div>
    
                                <div class="inner" style="background-color: #CC0000">
                                    <section>
                                        <header class="major">
                                            <h2>Events</h2>
                                        </header>
                                        <div id="eventFill" class="posts">
                                            
                                        </div>
                                        <!--
                                            <p style="text-align: center; margin-top: 50px">See More | See Previous</p>
                                        -->
    
                                    <style>
                                    .event {
                                        padding-bottom: 35px;
                                    }
    
                                    .event h3 {
                                        font-size: 1.25em;
                                        width: 100%;
                                        padding-bottom: 10px;
                                        border-bottom: dotted;
                                            letter-spacing: 1px;
                                    }
                                    </style>
                                    </section>
    
                                </div>
    
                                <div class="inner">
    
                                    <section>
                                        <header class="major">
                                            <h2>Our Brothers</h2>
                                        </header>
                                        <p>Sigma Phi Delta Beta Kappa brothers have all kinds of backgrounds.</p>
                                        <div class="row 50% uniform" style="margin-bottom: 30px">
                                            <div class="4u"><span class="image fit"><img src="images/p1.png" alt="" /></span></div>
                                            <div class="4u"><span class="image fit"><img src="images/p2.png" alt="" /></span></div>
                                            <div class="4u$"><span class="image fit"><img src="images/p3.png" alt="" /></span></div>
                                        </div>
                                        <!--
                                        <ul class="actions">
                                            <li><a href="#" class="button big" style="margin-bottom: 10px">Exec Members</a></li>
                                            <li><a href="#" class="button big" style="margin-bottom: 10px">Active Brothers</a></li>
                                        </ul>
                                    -->
                                    </section>
    
    
                            </div>
                            <div class="inner" style="background-color: #CC0000">
                                <section>
                                    <header class="major">
                                        <h2>Professional Resources</h2>
                                    </header>
                                    <div id="profFill" class="posts">
                                        
                                    </div>
                                </section>
    
                            </div>
                        </div>
    
                        <style>
                        .white-text {
                            color: #fff;
                        }
                        </style>
    
                    <!-- Sidebar -->
                        <div id="sidebar">
                            <div class="inner">
    
                                <!-- Menu -->
                                    <nav id="menu">
                                        <section>
                                            <header class="major">
                                                <h2>I Am...</h2>
                                            </header>
                                            <ul>
                                                <li><a href="/info">Someone Interested in SPD</a></li>
                                                <li><a href="/login">A Beta Kappa Sigma Phi Delta Brother</a></li>
                                                <!--
                                                    <li><a href="#">An Other Sigma Phi Delta Brother</a></li>
                                                -->
                                            </ul>
                                        </section>
                                        <section style="margin-top: 30px">
                                            <header class="major">
                                                <h2>Interested in rushing?</h2>
                                            </header>
                                            <p>Sigma Phi Delta brothers are engineers who see a value in brotherhood, duty, and academic success.</p>
                                            <ul>
                                                <li><a href="/info">Learn More</a></li>
                                            </ul>
                                        </section>
    
                                    </nav>
    
    
                                <!-- Footer -->
                                    <footer id="footer">
                                        <p class="copyright">Made By Sigma Phi Delta Beta Kappa Brothers</p>
                                    </footer>
    
                            </div>
                        </div>
    
                </div>
    
            <!-- Scripts -->
                <script src="/js/jquery.min.js"></script>
                <script src="/js/skel.min.js"></script>
                <script src="/js/util.js"></script>
                <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
                <script src="/js/main.js"></script>
                <script src="/js/events.js"></script>
                <script src="/js/resources.js"></script>
    
        </body>
    </html>
