<html style="height: 100%; width: 100%;">
<head>
    <title>Lehigh Sigma Phi Delta</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cc0000">
<meta name="apple-mobile-web-app-title" content="&Sigma;&Phi;&Delta;">
<meta name="application-name" content="&Sigma;&Phi;&Delta;">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#000000">
</head>
<body style="height: 100%; width: 100%;">
    <div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; background-color: #000;">
            <div style="color: #fff; max-width: 450px; width: 80%; margin: 0 auto;">
                    <h1>That isn't up just yet.</h1>
                    <p style="padding-bottom: 20px">This website is an active project of the brothers of Lehigh SPD. Not everything has been built yet and you found something we are working on! We're excited to keep working on this site and we encourage you to try using this site again soon. If there is information you are trying to get from this site, the best way to learn about SPD is through a brother.</p>
                    <a href="/" class="button big" style="color: #fff; padding: 15px; border: solid 3px #fff; margin: 20px 0px; text-decoration: none; border-radius: 10px;">Return Home</a>
            </div>
    </div>
</body>
</html>